.button-animation {
  background: linear-gradient(104.65deg, #874ed2 -2.69%, #fd705e 10.8%);
}

.button-animation:hover {
  background: linear-gradient(105.89deg, #874ED2 -3.72%, #FD705E 95.79%); 
}

.button{
  border-radius: 1rem;
  color: white;
  box-shadow: 0px 24px 20px 5px rgba(0, 0, 0, 0.15);
}

.button:hover{
  box-shadow: none;
}
