.form{
    display: grid;
    place-content: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-bottom: 2rem;
}

.section{
    display: grid;
    place-content: center;
}

.section-rows{
    grid-row: span 4 / span 3;
}

.section-div{
    display: flex;
    justify-content: start;
    margin: 2.5rem 0 .5rem .5rem;
}

.h2{
    display: grid;
    place-content: center;
    color: #874ed2;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.photo{
    width: 113.5px;
    height: 151.2px;
}

.input-div{
    display: grid;
    width: 20rem;
}

.input{
    background-color: rgba(196, 196, 196, 0.2);
    padding: .25rem 0 .25rem .5rem;
    border-radius: 0.125rem;
    margin-bottom: 1rem;
}

.input-lower{
    margin-top: .75rem;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #874ed2;
    opacity: 1; /* Firefox */
}

.input:focus{
    outline-offset: 2px;
    outline-color:#fd705e;
}

.input[type="date"]{
    color:#874ed2;
    padding-left: 1.5rem;
}

.input[type="radio"]:checked{
    background-color: #874ed2;   
}

.page-div{
    margin: 2rem;
    background-color: white;
    height: 90%;
}

.resume-section{
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.resume-history-div{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    border-top-width: 2px;
}

.resume-history-year-div{
    border-right-width: 1px;
    display: grid;
    grid-column: span 2 / span 2;
    place-content: center;
}

.resume-history-month-div{
    border-right-width: 1px;
    display: grid;
    grid-column: span 1 / span 1;
    place-content: center;
}

.resume-history-title-div{
    display: grid;
    grid-column: span 9 / span 9;
    place-content: center;
}

.resume-history-text-div{
    display: grid;
    grid-column: span 9 / span 9;
    padding-left: .75rem;
    color: white;
}

.resume-history-last-div{
    display: grid;
    border-top: 1px;
    place-content: end;
    padding-right: 1rem;
    grid-column: span 9 / span 9;
}

.tipbox{
    position: absolute;
    z-index: 20;
    margin-left: .5rem;
    margin-right: 2.5rem;
    color: #874ed2;
    background-color: white;
    text-align: center;
    border-width: 2px;
    border-color: #874ed2;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    padding: .5rem;
}